<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KGL</title>

    <link href="../../bower_components/bootstrap/dist/css/bootstrap-flatly.min.css" rel="stylesheet">
    <link href="../../bower_components/bootstrap/dist/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="nav-menu">
      <div class="container">
        <a class="logo" href="/"><img src="../../bower_components/bootstrap/dist/img/logo_kgl.png"></a>
        <ul class="list-inline pull-right">
          <li><a href="#">О нас</a></li>
          <li><a href="#">Нас отличает</a></li>
          <li><a href="#">Стоимость</a></li>
          <li><a href="#">Отрасли перевода</a></li>
          <li><a class="active" href="#">Статьи</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </nav>

    <header>
      <iframe class="actAsDiv" id="iFrame1" src="http://kgl.kz/video.html" style="border:0px #FFFFFF none;" name="iFrame1" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="620px" width="100% " seamless=""></iframe>
      <div class="window"></div>
      <div class="jumbotron">
        <div class="container">
          <h2 class="text-center text-uppercase">Быстрые и качественные языковые переводы</h2>
          <br>
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <!-- <label for="inputEmail">Введите имя</label> -->
                <input type="text" class="form-control input-lg" id="inputEmail" placeholder="Введите имя">
              </div>
              <div class="form-group">
                <!-- <label for="inputNumber">Введите номер телефона</label> -->
                <input type="text" class="form-control input-lg" id="inputNumber" placeholder="Введите номер телефона">
              </div>
              <button type="submit" class="btn btn-block btn-lg btn-info">Отправить заявку</button>
            </form>
          </div>
          <div class="col-md-8">
            <p class="text-center">Переводческая компания KGL приветствует Вас на своем сайте!</p>
            <p>Мы готовы предложить для Вас оптимальные и удобные условия сотрудничества, гибкую систему скидок, гарантию сохранности конфиденциальной информации, и, конечно же, самое главное - качественную работу по переводу. C уважением, команда KGL.</p>
          </div>
        </div>
      </div>
    </header>
    <hr>
    <footer class="container">
      <div class="col-md-4">
        <a class="logo" href="/"><img src="../../bower_components/bootstrap/dist/img/logo_kgl.png"></a>
      </div>
      <div class="col-md-8">
        <br><br>
        <p>© Copyright 2015 KGL Все права защишены.</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>